<% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
      res.redirect('/')
  } %>

<%- messages() %>


<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { 
            if (error.msg !== "Invalid value") { %>
                <li><%= error.msg %></li>
            <% } 
        }) %>
    </ul>
<% } %>



<section id="login-signup">

    <form action="/account/register" id="login-signup-form" autocomplete="on" method="post">
        <label for="account_firstname"><span class="form-element">First Name:</span></label>
        <input type="text" name="account_firstname" id="account_firstname" required value="<%= locals.account_firstname %>">
        <label for="account_lastname"><span class="form-element">Last Name:</span></label>
        <input type="text" name="account_lastname" id="account_lastname" required value="<%= locals.account_lastname %>">
        <label for="account_email"><span class="form-element">Email:</span></label>
        <input type="email" name="account_email" id="account_email" required value="<%= locals.account_email %>">
        <div id="pswd-box">
            <label for="account_password"><span class="form-element">Password:</span></label>
            <span id="pswd-text">Password must be at least 12 characters, contain 1 uppercase letter, 1 number, and 1 special character</span>
            <input type="password" name="account_password" id="account_password" minlength="12" 
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
            title="Password must be at least 12 characters, contain 1 uppercase letter, 1 number, and 1 special character."  
            required>

            <!-- pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{12,}$"  -->
        </div>
        
        <button type="submit" id="register-button">Register</button>
        
        <button id="show-hide" type="button">Show Password</button>
    </form>

</section>

<script src="/js/script.js"></script>